<h2>Sign Up Confirmation</h2>
<h3>Are you sure these values are correct?</h3>


  <p><b>Email: <%= @user.email %></b></p>
  <p><b>Name: <%= @user.name %><b></p>


<div>
  <button type="button" class="btn btn-success">Yes</button>
  <button type="button" class="btn btn-default">No</button>
</div>
